body {
    background-color: #5d0e1e !important;
    background-image: none !important;
    color: #e2b777;
}

#subnav {
    border-color: #e2b777;
    border-style: double;
    border-width: 5px;
    font-size: x-large;
}

#subnav div:hover {
    border-color: #e2b777;
    border-style: double;
    border-top: none;
    border-bottom: none;
    border-width: 5px;
    cursor: pointer;
}

a:link {
    color: #e2b777;
    text-decoration: none;
}

a:visited {
    color: #e2b777;
    text-decoration: none;
}
  
a:hover {
    color: #e2b777;
    text-decoration: none;
}

a:active {
    color: #e2b777;
    text-decoration: none;
}

.card {
    border-color: #e2b777;
    border-style: double;
    border-width: 5px;  
    /* background-color: #e2b777; */
    color: #5d0e1e;  
    font-weight: 600;
    font-size: small;
}

.card-img-top {
    background-color: #5d0e1e;
}

.bottom-bordered-div {
    border-bottom: #e2b777;
    border-bottom-style: dotted;
    border-bottom-width: 5px;
}